/* Include the padding and border in an element's total width and height */
*{
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul{
    margin: 0;
    padding: 0;
}

/* Styling the list items */
ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* Make the list items unselectable */
    
    /* user-select property specifies whether the text of an element can be selected */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color also known as zebra-stripes */
ul li:nth-child(odd){
    background: #f9f9f9;
}

/* Make the background dark on hover */
ul li:hover{
    background: #ddd;
}

/* When clicked on, add a background color and strike out */
ul li.checked{
    background: #888;
    color: #fff;
    text-decoration: line-through;
}